.navbar {
    background-color: $secondary-default;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    &__logo {
        color: white;
        font-weight: bold;
        font-size: 20px;
    }

    &__search {
        background-color: darken($color: $secondary-default, $amount: 10);
        padding: 4px 12px;
        border-radius: 4px;
        i {
            color:white
        }
        input {
            all: unset;
            color: white;
            margin-left: 8px;
        }
    }
}

.header {
    background: url('../assets/header-background.jpg') center center/cover;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;

    &__persons {
        position: absolute;
        display: flex;
        bottom: -75px;
        overflow-x: auto;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        max-width: 100%;
        img {
            border-radius: 50%;
            margin: 0 35px;
            width: 150px;
            height: 150px;
            object-fit: cover;
            scroll-snap-align: center;
        }

    }

    @include respond(mobile) {
        height: calc(100vh - 125px);
    }

}

.main {
    padding: 150px 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

    &__description {
        width: 800px;
        max-width: 90%;
        margin: 3rem auto;
    }

    &__personal {
        display: flex;
        justify-content: space-evenly;
        margin: 20px auto;
        @include respond(mobile) {
            flex-direction: column;
            justify-content: unset;
        }

        &__contact {
            display: flex;
            align-items: center;
            @include respond-min(mobile) {
                margin: 0px 24px;
            }
            @include respond(mobile) {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }

            &__img {
                width: 70px;
                height: 70px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 30px;
            }

            &__info {
                text-align: left;
                * {
                    margin: 0;
                }
            }
        }
    }
}

.footer {
    background-color: $secondary-default;
    border-top: 12px solid $accent-default;
    padding: 24px;
    margin-top: 50px;
    min-height: 320px;

    display: flex;

    .container {
        display: flex;
        justify-content: space-evenly;
        margin: auto;
        @include respond(mobile) {
            flex-direction: column;
            text-align: center;
        }

        .footer__item {
            @include respond(mobile) {
                margin-bottom: 24px;
            }
            &__title {
                margin-bottom: 1rem;
            }
        }
    }
}
